.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f0f7fc;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  background: #f0f7fc;
}
